p {
    text-align: center;
}

body {
    background-color: #93A9D1;
}

nav {
    text-align: center;
    font-size: large;
}

header {
    background-color: #ABCA7E;
    padding: 20px 0;
}

nav {
    background-color: #fdfd96;
    padding: 10px 0;
}